nav{
    background: #800080;
}

@media all and( max-width: 767px;){
    .banner-responsive{
        height: 250px;
    }
}

.panes{
    width: 25%;
  border-radius: 15px;
  box-shadow: 8px 8px 12px gray;
filter: grayscale(70%);
}

.panes:hover{
    position: relative;
    top: -3px;
    right: 3px;
    filter: grayscale(0%);
    transition: 700ms;
}

.facturas{
margin-top: -19%;
margin-left: 27%;
}

.salado{
    margin-top: -22%;
margin-left: 55%;
}